.productContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  height: 100vh;
  overflow-y: scroll;
}
.cetegory-container {
  width: 1128px;
}
.category-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
