.modal-background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background-color: rgba(238, 233, 233, 0.4);
}

.modal-Image {
  width: 744px;
  height: 480px;
  position: absolute;
  top: 25%;
  left: 25%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.modal-productInfo {
  position: absolute;
  bottom: 183px;
  left: 390px;
  display: flex;
  align-items: center;
}
.modalStarIcon {
  width: 24px;
  height: 24px;
  color: rgba(223, 223, 223, 0.81);
  margin-right: 8px;
}
.modal-ImageName {
  color: rgba(223, 223, 223, 0.81);
  font-size: 24px;
  font-weight: 700;
}
.closeIcon {
  position: absolute;
  width: 23px;
  height: 23px;
  bottom: 610px;
  right: 402px;
  color: #f8f8f8;
  cursor: pointer;
}
